.dropdown_X1g2o {
    position: relative;
    display: inline-block;
    width: 500px;

    &>button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 8px;
        width: 100%;

        &>svg {
            width: 1em;
            height: 1em;
        }
    }

    &>div {
        position: absolute;
        top: 30px;
        left: 0;
        right: 0;
        max-height: 30vh;
        overflow-y: auto;
    }
}