.input_4Xa52 {
  display: inline-block;
  position: relative;

  &>input {
    width: 100%;
  }

  &>div {
    border: 1px solid gray;
    position: absolute;
    z-index: 100;
    top: calc(1em + 16px);
    left: 0;
    right: 0;
    padding-inline: 6px;
    padding-block: 3px;
    &>div {
      cursor: pointer;
    }
  }
}