.check-box_6oN7Y {
    width: fit-content;
    display: inline-block;
    align-items: center;
    &>span:nth-child(1) {
        display: inline-block;
        width: 1em;
        height: 1em;
        border: 2px solid gray;
        border-radius: 4px;
        margin-right: 0.3em;
        &>svg {
            fill: currentColor;
            width: 100%;
            height: 100%;
        }
    }
}